* {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto';
    font-size: 5rem;
    margin-top: 2%;
}

span {
    font-family: 'Roboto';
    font-size: 2rem;
}
.content {
    width: 40vw;
    margin: 0 auto;
}

.content label {
    cursor: pointer;
    display: flex;
    padding: 15px 20px;
    width: 100%;
    z-index: 100;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.mem {
    display: flex;

    overflow: hidden;
    border-bottom: 1px gray solid;
}

.img-plus {
    height: 1.8vh;

    opacity: 1;
}

.img-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mem-img {
    height: 0vh;
    transition: all 1s;
    opacity: 1;
}

.mem input {
    display: none;
}

.content input:checked + label > .img-plus {
    transition: transform 0.5s;
    transform: rotate(45deg);
}

.content input:checked + label > .img-box > .mem-img {
    height: 40vh;
    opacity: 1;
    transition: all 1s;
}

@media (hover: hover) {
    .img-plus {
        opacity: 0;
    }
    .content:hover .img-plus {
        transition: opacity 0.5s;
        opacity: 1;
    }

    .mem:hover .mem-img {
        height: 40vh;
        opacity: 1;
        transition: all 1s;
    }
}

@media (max-width: 2180px) {
    .content {
        width: 50vw;
    }
}

@media (max-width: 1920px) {
    .content {
        width: 60vw;
    }
}

@media (max-width: 1200px) {
    .content {
        width: 70vw;
    }
}
@media (max-width: 840px) {
    .content {
        width: 80vw;
    }
    h1 {
        font-size: 3rem;
    }

    span {
        font-size: 1.5rem;
    }
}
@media (max-width: 620px) {
    .mem:hover .mem-img {
        height: 30vh;
    }

    .content input:checked + label > .img-box > .mem-img {
        height: 30vh;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    span {
        font-size: 1rem;
    }
}
